<!-- Include header -->
<%- include header.ejs %>
<div class="landing-bank_mf" id="landing">
    <div class="slider slider-bank slider-1">
        <img class="ratio" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7"/>
        <input class="slide" id="s-1-1" name="slider-1" type="radio"/>
        <label for="s-1-1">
        </label>
        <div>
            <img src="../images/savingaccount4.jpg"/>
            <div class="content">
                <h2>
                    Achieve your financial goals with investment in Saving & Fixed deposits, Mutual Funds
                </h2>
                <p>
                    We can help you to find the best deal in order to maximise the return.
                </p>
                <!--        <a class="button button-blue" href="#">
                    Get Started
                </a> -->
            </div>`
        </div>
        <input class="slide" id="s-1-2" name="slider-1" type="radio"/>
        <label for="s-1-2">
        </label>
        <div>
            <img src="../images/savingaccount5.jpg"/>
            <div class="content">
                <h2>
                    Open Savings or Fixed deposit account and Get risk free returns.
                </h2>
                <!--   <p>
                    Drive more engagement for your games when players fight it out against one another in battles. When players compete, your game wins!
                </p> -->
                <a class="button button-orange" href="#">
                    Explore Saving Accounts
                </a>
                <br/>
                <a class="button button-orange" href="#">
                    Explore Fixed Deposit
                </a>
            </div>
        </div>
        <input checked="" class="slide" id="s-1-3" name="slider-1" type="radio"/>
        <label for="s-1-3">
        </label>
        <div>
            <img src="../images/savingaccount2.jpg"/>
            <div class="content">
                <h2>
                    Start a SIP from list of mutual funds carefully chosen as per your need
                </h2>
                <p>
                    We have list down all the mutual funds so just select the category as per your requirement and Invest.
                </p>
                <a class="button button" href="#">
                    Explore Mutual Funds
                </a>
            </div>
        </div>
    </div>
    <div class="bmf-featuresBlock">
        <!--         <div class="wrapper animated fadeIn" style="visibility:visible;animation-delay:300ms;animation-duration:600ms;">
            <div class="bmf-feature">
                <div class="icon-1"><img class="picture" src="../images/mf_investment1.jpg" /></div>
                <div class="description"><Fast shipping <br> real collaboration</div></div>
            <div class="bmf-feature">
                <div class="icon-2"> </div>
                <div class="description">Driven by <br>user experience</div></div>
            <div class="bmf-feature"><div class="icon-3"></div><div class="description">Years of <br>building products</div></div>

</div> -->
        <div class="bmf-feature">
         <!--  <i class="fa fa-users" aria-hidden="true"></i> -->
          <img class="picture" src="../images/bank-investment1.jpg" />
            <a href="/banking/saving">
                Saving Accounts
            </a>
        </div>
        <div class="bmf-feature">
        <img class="picture" src="../images/bank/fd1.png">
        <a href="/banking/fd">
            Fixed Deposit
        </a>
        </div>
        <div class="bmf-feature">
        <img class="picture" src="../images/fd-investment1.jpg" style="height: 80px;width: 80px;">
        <a href="/mutualfunds">
            Mutual Funds
        </a>
        </div>

        <div class="bmf-feature">
        <img class="picture" src="../images/services1.jpg" style="height: 80px;width: 80px;">
        <a href="#">
            Other Services
        </a>
        </div>
    </div>
</div>
<!--     <div class="feature">
    <img class="picture" src="../images/mf_investment1.jpg" />
    <h4 class="caption">Built specially for mobile game developers</h4>
    <p class="summary">The Playphone SDK is built for mobile game developers. It is extremely lightweight and takes minutes to integrate. Further, you need to integrate only once.</p>
  </div>

  <div class="feature">
    <img class="picture" src="../images/bank-investment1.jpg" />
    <h4 class="caption">Reach highly targeted mobile gamers</h4>
    <p class="summary">Playphone is a games-only network fostering an ecosystem of highly qualified users that love playing mobile games. You won't find a better way to reach untapped mobile gamers globally</p>
  </div>

  <div class="feature">
    <img class="picture" src="../images/fd-investment1.jpg" />
    <h4 class="caption">Go beyond Google Play</h4>
    <p class="summary">In high-growth emerging markets, we partner with the leading local OEMs, carriers and distributors in to drive installs for your games where Google Play can't</p>
  </div> -->
<!--     <div class="slider slider-2">
        <img class="ratio" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7"/>
        <input class="slide" id="s-2-1" name="slider-2" type="radio"/>
        <label for="s-2-1">
        </label>
        <div>
            <img src="https://developer.playphone.com/App/Landing/img/main-slide-4.png"/>
            <div class="content">
                <h3>
                    What they say
                </h3>
                <p>
                    Integration the Playphone SDK
          was extremely developer friendly.
          It's lean and easy to integrate and
          test. We got it out there in less
          than a day.
                </p>
                <small>
                    Alok Kumar
                    <br/>
                    Director of game development
                    <br/>
                    June Software Inc
                </small>
            </div>
        </div>
        <input checked="" class="slide" id="s-2-2" name="slider-2" type="radio"/>
        <label for="s-2-2">
        </label>
        <div>
            <img src="https://developer.playphone.com/App/Landing/img/main-slide-5.png"/>
            <div class="content">
                <h3>
                    What they say
                </h3>
                <p>
                    Playphone integration has been easy with its
          simple SDK and we've been able to leverage its
          real-time dashboard to show results immediately.
          Playphone's support team is very efficient and is
          always available with answers and advice.
          Because of our Leaderboard integration we are
          seeing strong revenue conversion %'s.
                </p>
                <small>
                    Kevin Roberts
                    <br/>
                    CEO
                    <br/>
                    Mobile Mob
                </small>
            </div>
        </div>
        <style type="text/css">
            #landing .slider-2 img.ratio {padding:0 30.4%;}
      #landing .slider-2 {margin-top:6em;}
      #landing .slider-2 .content h3 {font-size:1.125em; margin:0 0 3em; color:#99ce45; text-transform:uppercase; font-weight:normal;}
      #landing .slider-2 .content p {font-size:1.3em; color:#fff;}
      #landing .slider-2 .content small {font-size:1.125em; margin:3em 0 0; display:block; color:#fff; text-transform:uppercase; font-weight:normal;}

      #landing .slider-2 #s-2-1 + label + div > .content {max-width:30%; margin:8% 0 0 17%;}
      #landing .slider-2 #s-2-1 + label + div > .content p {font-size:1.6em}
      #landing .slider-2 #s-2-2 + label + div > .content {max-width:35%; margin:8% 0 0 16%;}
        </style>
    </div> -->
<!--     <div id="home-splash" class="intro-image-fd active">
        <div class="banner wrapper">
            <h1>It's a good start !!<br>Open a Fixed deposit or Saving account now and watch your money grow.</h1>
            <p>We will help you to invest your money in best bank and in best available option.</p>
        </div>
    </div>
    <div class="spinnerback" ng-show="loading">
        <div class="spinner">
            <i class="fa fa-spinner fa-5x" aria-hidden="true"></i>
        </div>
    </div> -->
<!-- 
<section class="fund-type-main-wrapper">
                       <div id="fund-wrap">
                    <div class="mfconsole-container" ng-repeat="service in bankingServices">
                        <a href="/bank/{{service.url}}" class="type-container" style="text-decoration: none">
                            <div class="type-icon">
                                <img src="../images/bank/{{service.icon}}.png" class="mf-option-img">
                            </div>
                            <div class="mfDetail">
                                <div class="mftype-heading">
                                    {{service.name}}
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
    </section> -->
<%- include footer.ejs %>
<script type="text/javascript">
    function doSlide (slider) {
  var id, o = slider.querySelectorAll("input.slide"), last = o.length-1, current = slider.querySelector("input.slide:checked");
  for (var i=0; i<o.length; i++) if (o[i] === current) {id = i; break;}
  o[id >= last ? 0 : id + 1].click();
}
function onSlide (e) {
  var o = e.target.parentNode;
  clearTimeout(o.autoslider);
  o.autoslider = setTimeout(function(){doSlide(o);}, 4000);
}
$(function(){
  $(document).on("click", "input.slide", onSlide);
  $(".slider").each(function(){doSlide(this)});
});
</script>
