<!-- <footer id="global-footer contact" class="nav-view">
    <nav>
        <ul class="menu level-1">
            <li id="about" class="nav-link-view level-1-item"><h2 class="global-nav-header">About Us</h2>
            <div class="contact_detail">
                 Many Faces
            </div>

            </li>
         

            <li id="contact-us" class="nav-link-view level-1-item"><h2 class="global-nav-header">Contact Us</h2>
            <div class="contact_detail">
            <div>
            <i class="fa fa-envelope" aria-hidden="true"></i> profitmatter7@gmail.com
            </div>
            <div>
            <i class="fa fa-mobile" aria-hidden="true"></i> +91 9860433217
            </div>
            </div>
            </li>

            <li id="709" class="nav-text-view level-1-item">
                <h2 class="global-nav-header global-nav-text">© Copyright 2017 Profit Matter, Inc.  All Rights Reserved</h2>
            </li>
        </ul>
    </nav>
</footer> -->

<footer id="footer-link">
    <div class="container-footer">
        <div class="upper-div">
            <!--Start Logo and FooterLinks-->
            
<!-- start Header-logo-->

<div class="logo" itemscope="" itemprop="organization" itemtype="http://schema.org/Organization">
    <a itemprop="url" href="/en">
        <img src="../images/logo/brand_logo/brandicon4.jpg?h=50&amp;la=en&amp;mh=50&amp;w=217&amp;" alt="Footer Logo" width="200" height="150" disablewebedit="False">
    </a>
</div>
<!-- end Header-logo-->
<!--Start Col Footer Nav-->
<div class="lcol hidden-sm hidden-xs hidden-sm hidden-xs">
    <ul class="no-mar no-pad">
            <li>
                <a href="/en/About-Us/Our-Solutions" target="" title="Our Solutions">

                     <span>Our Solutions</span>
                </a>
            </li>
            <li>
                <a href="/en/Press-and-Media" target="" title="Press and Media">

                     <span>Press and Media</span>
                </a>
            </li>
    </ul>
</div>
<!--End Col Footer Nav-->

<!--Start Col Footer Nav-->
<div class="lcol hidden-sm hidden-xs hidden-sm hidden-xs">
    <ul class="no-mar no-pad">
            <li>
                <a href="/en/About-Us/Our-Businesses" target="" title="Our Businesses">

                     <span>Our Businesses</span>
                </a>
            </li>
            <li>
                <a href="/en/About-Us/Financial-Achievements" target="" title="Our Achievements">

                     <span>Our Achievements</span>
                </a>
            </li>
    </ul>
</div>
<!--End Col Footer Nav-->

<!--Start Col Footer Nav-->
<div class="lcol hidden-sm hidden-xs hidden-sm hidden-xs">
    <ul class="no-mar no-pad">
            <li>
                <a href="/en/Privacy-Policy" target="" title="Privacy Policy">

                     <span>Privacy Policy</span>
                </a>
            </li>
            <li>
                <a href="/en/Terms-and-Conditions" target="" title="Terms and Conditions">

                     <span>Terms and Conditions</span>
                </a>
            </li>
    </ul>
</div>
<!--End Col Footer Nav-->

            <!--End Logo and FooterLinks-->

                <!--Start caption for Tab 123-->
    <div class="hidden-md hidden-xs hidden-lg smcopyright">
        <p class="caption-footer">© 2017, Profit Matter, All Rights Reserved. </p>
    <!--     <div class="contacttext">
            <p class="caption">Call us toll free:  </p><span class="abcicons icon-icon-phone iconspan"></span> <p class="caption">   1800 270 7000</p>
        </div> -->
    </div>
    <!--End caption for Tab-->



        </div>

        <div class="lower-div">
            
<!--Start caption-->
<div class="copyright hidden-sm">
    <p class="caption-footer">© 2017, Profit Matter. All Rights Reserved.</p>
</div>
<!--End caption-->





<!-- start social links-->
<div class="socialicons hidden-sm">
    <div class="contacttext">
        <p class="caption-footer">Call us : </p><i class="fa fa-phone" aria-hidden="true"></i> <p class="caption-footer"> +91 9860433217</p>
    </div>
    <ul class="no-mar hidden-xs">
            <li class="">
                <a href="https://www.facebook.com/profitmatter/?ref=bookmarks" target="_blank" title="" class="btn btn-social-icon btn-facebook">
                        <i class="fa fa-facebook-square" aria-hidden="true"></i>
                </a>
            </li>
            <li class="">
                <a href="https://www.instagram.com/" target="_blank" title="Instagram" class="btn btn-social-icon btn-instagram">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
            </li>
            <li class="">
                <a href="" target="" title="Linked In" class="btn btn-social-icon btn-linkedin">
                        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                </a>
            </li>
            <li class="">
                <a href="https://twitter.com/" target="_blank" title="" class="btn btn-social-icon btn-twitter">
                        <i class="fa fa-twitter-square" aria-hidden="true"></i>
                </a>
            </li>
            <li class="">
                <a href="https://www.youtube.com/channel/" target="" title="Youtube" class="btn btn-social-icon btn-youtube">
                        <i class="fa fa-youtube-play" aria-hidden="true"></i>
                </a>
            </li>
        
    </ul>

</div>
<!--end social links-->

        </div>

    </div>
</footer>


<style type="text/css">
    footer {
    background-color: #6C7174;
    width: 100%;
    float: left;
}

.container-footer {
    margin-right: auto;
    margin-left: auto;
    padding-left: 1.665%;
    padding-right: 1.665%;
    width: 96.67%;
    min-width: 801px;
    max-width: 1200px;
}

footer .upper-div {
    float: left;
    width: 100%;
    border-bottom: 1px solid #CDCECE;
    padding: 40px 0;
}

footer .lower-div {
    float: left;
    width: 100%;
    padding: 32px 0;
}

footer .upper-div .logo {
    float: left;
}

footer .upper-div .lcol {
    margin-left: 64px;
    float: left;
}

.no-pad {
    padding: 0px!important;
}

.no-mar {
    margin: 0px!important;
}

footer .upper-div ul li:first-child {
    margin-top: 0px;
}

footer .upper-div ul li {
    list-style: none;
    margin-top: 12px;
    line-height: 24px;
}

@media only screen and (max-width: 1200px) and (min-width: 801px){
footer .upper-div ul li a {
    width: 145px;
}
}

footer .upper-div ul li a:visited {
    color: #fff;
    text-decoration: none;
}

footer .smcopyright {
    padding: 28px 0;
    float: left;
}

footer .caption-footer {
    color: #fff;
}

.caption-footer {
    font-size: 16px;
    line-height: 24px;
    color: #000;
    font-family: 'pf_encore_sans_proregular';
}
footer .upper-div ul li a {
    font-family: 'pf_encore_sans_proregular';
    font-size: 16px;
    color: #fff;
}

footer .contacttext {
    float: left;
    margin-right: 32px;
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

footer .contacttext i{
    font-size: 25px;
        margin: 0px 5px;
}

footer .lower-div .socialicons {
    float: right;
}

footer .lower-div ul li {
    float: left;
    padding: 0 5px;
    list-style: none;
}

footer .lower-div ul li a:visited {
    color: #fff;
    text-decoration: none;
}

footer .lower-div ul li a {
    color: #fff;
    font-size: 30px;
}

footer .lower-div ul {
    float: right;
}

a:visited {
    text-decoration: none;
}

footer .lower-div .copyright {
    width: 40%;
    float: left;
}
</style>