<!-- Include header -->
<!-- <%- include header.ejs %>
    <div class="screen1-selected-fund">
        <div class="spinnerback" ng-show="loading">
            <div class="spinner">
                <i class="fa fa-spinner fa-5x" aria-hidden="true"></i>
            </div>
        </div>

     <div>
     	<div ng-repeat="result in searchMfResult">
     	{{result.schemeName}}
     	</div>
     </div>
    </div> -->